.root{
    -fx-background-color: #74CED4;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

#currentWordLabel{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 28px;
    -fx-font-family: "Courier New Bold"
}

.wrong{
    -fx-background-color: #ED484A !important;
    -fx-text-fill: white !important;
}

.correct{
    -fx-background-color: #25AE3B !important;
    -fx-text-fill: white !important;
}
