name: "Release"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:

    - name: Checking out
      uses: actions/checkout@v3

    - id: releaser
      name: Configuration File Releaser
      uses: thiagodonferreira/new-version-decider@main
      with:
        repository: thiagodonferreira/hangman-in-javafx
        loader: java-maven
        configurationFile: ./pom.xml

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 15
        
    - name: Build with Maven
      run: mvn javafx:jlink --file pom.xml
      
    - run: mkdir staging && cp target/*.zip staging

    - name: Create Release on Github
      uses: softprops/action-gh-release@v1
      if: ${{steps.releaser.outputs.currentRelease != steps.releaser.outputs.nextRelease}}
      with:
        name: ${{ steps.releaser.outputs.nextRelease }}
        tag_name: v${{steps.releaser.outputs.nextRelease}}
        files: staging/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
